.footer {
  background: black;
  color: white !important;
  padding: 60px 20px 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h3 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-section p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.footer-section a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-right: 15px;
  font-size: 30px;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.footer-section p a {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  margin-right: 0;
  margin-bottom: 0;
  opacity: 0.8;
}

.footer-section a:hover {
  opacity: 0.7;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.6;
}

.footer-glow {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: blinkGlow 3s infinite;
}

@keyframes blinkGlow {
  0% {
    opacity: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  }
  50% {
    opacity: 0.2;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  }
}

.footer-link {
  display: block !important;
  font-size: 20px !important;
  font-weight: 800;
  margin-bottom: 10px;
}